.wrapper {
    width: 20%;
    background: var(--primary);
    height: 100%;
    align-items: normal;
}

.img {
    width: 100%;
}

.icon {
    display: block;
    width: 39.6px;
    height: 39.6px;
}
