.wrapper {
    width: 196px;
    margin-left: 32px;
}

.top {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

.text-muted {
    color: #7d8da1;
    font-weight: 800;
    font-size: 2.5rem;
    margin: 0;
}

.sidebar {
    background: white;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

.title {
    font-weight: 800;
    display: inline-block;
    margin: 0;
    font-size: 1rem;
}

.link {
    display: flex;
    color: #635c5c;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 200ms ease;
    margin-top: 18px;

    &:last-child {
        position: absolute;
        bottom: 2rem;
        width: 100%;
    }
    &:active {
        background: #dad5d5;
        color: rgb(10, 116, 10);
        margin-left: 0;
    }
    &:active::after {
        background: #dad5d5;
        color: rgb(10, 116, 10);
        margin-left: 0;
    }
    &:active:before {
        content: '';
        width: 6px;
        height: 100%;
        background-color: rgb(10, 116, 10);
    }
    &:active .icon {
        color: rgb(10, 116, 10);
        margin-left: calc(1rem - 3px);
    }
    &:hover {
        color: rgb(10, 116, 10);
    }
    &:hover .icon {
        color: rgb(10, 116, 10);
        margin: 1rem;
    }
}

.icon {
    font-size: 1.6rem;
    transition: all 200ms ease;
}
