.wrapper {
    float: left;
    width: calc(100% / 3);

    height: 300px;
    padding: 20px;
}

.container {
    border: 6px solid #000000;
    border-radius: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 8rem;
    font-family: Inter;
}

.icon + .title,
.title + .icon {
    margin-left: 16px;
}

.dev .container {
    background: #bffffb;
    border: transparent;
    border-radius: 19px;
}

.plus .container {
    border: 1px dashed #6270f0;
}

.analytics .container {
    background: #d9d9d9;
    border: transparent;
}
