@import 'normalize.css';
:root {
    --primary: linear-gradient(180deg, rgba(244, 237, 237, 0) 0%, #f4eded 33.85%);
    --black: #000;
    --white: #fff;
    --text-color: #000000;
    --font-family: 'poppins', sans-serif;
    --temp: linear-gradient(180deg, #f59393 6.25%, rgba(209, 214, 255, 0) 74.48%, rgba(182, 189, 251, 0.438889) 91.67%);
    --hud: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(176, 229, 226, 0.561728) 0.01%, #72d1cc 96.35%);
    --home: linear-gradient(180deg, rgba(176, 229, 226, 0.561728) 0%, #23ed74 0.01%, rgba(88, 250, 211, 0) 100%);
    // Default layout
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    overflow-y: overlay;
}

a {
    text-decoration: none;
}

.bgc {
    background-color: #3df23a !important;
}
